:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.toolbar {
  position: sticky;
  top: 0;
  z-index: 10;

  /* BITNO */
  overflow: visible;
  height: auto;
  min-height: 72px;
  padding: 8px 16px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  gap: 12px;

  background: var(--mat-sys-surface);
}

.spacer {
  flex: 1 1 auto;
}

.content {
  flex: 1;
  min-height: 0;   /* KRITIČNO */
  padding: 12px;
}
