<h2 mat-dialog-title>{{ 'RESERVATION_REVIEW_TITLE' | t }}</h2>

<div mat-dialog-content>
  @if (errorMsg) {
    <div class="errorBanner" role="alert">
      {{ errorMsg }}
    </div>
  }

  <div class="row">
    <span class="label">{{ 'RESERVATION_REVIEW_NAME' | t }}</span>
    <span class="value">{{ data.reservation.reservationName }}</span>
  </div>

  <div class="row">
    <span class="label">{{ 'RESERVATION_REVIEW_EMPLOYEE' | t }}</span>
    <span class="value">{{ data.reservation.employeeName }}</span>
  </div>

  <div class="row row--rooms">
    <span class="label">{{ 'RESERVATION_REVIEW_ROOMS' | t }}</span>

    @if (data.rooms.length) {
      <ul class="roomsList value">
        @for (rn of data.rooms; track rn) {
          <li>{{ rn }}</li>
        }
      </ul>
    } @else {
      <span class="value">{{ data.reservation.roomName }}</span>
    }
  </div>

  <div class="row">
    <span class="label">{{ 'RESERVATION_REVIEW_TIME' | t }}</span>
    <span class="value">
      {{ hhmm(data.reservation.startTime) }}–{{ hhmm(data.reservation.endTime) }}
    </span>
  </div>
</div>

<div align="end" mat-dialog-actions>
  <button (click)="close()" [disabled]="saving" mat-button>
    {{ 'COMMON_CANCEL' | t }}
  </button>

  <button (click)="decline()" [disabled]="saving" mat-stroked-button>
    {{ 'RESERVATION_REVIEW_DECLINE' | t }}
  </button>

  <button (click)="approve()" [disabled]="saving" color="primary" mat-flat-button>
    {{ 'RESERVATION_REVIEW_APPROVE' | t }}
  </button>
</div>
